language: cpp

jobs:
  fast_finish: true
  allow_failures:
  - name: Linux
  include:
  - name: Windows
    os: windows
    python: 3.7
    before_install:
      - choco install python --version=3.8.2
      - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
    env:
      - SMBRANCH=1.10-dev
      - MMBRANCH=1.11-dev
    before_script:
      - choco install -y visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
    script:
      - ./build.bat
  - name: Linux
    dist: bionic
    python: 3.7
    addons:
      apt:
        packages: ['clang-10']
    env:
      - CC=clang
      - CXX=clang++
      - SMBRANCH=1.10-dev
      - MMBRANCH=1.11-dev
    before_script:
      - chmod +x ./build.sh
    script:
      - ./build.sh